@import url("mobile.css");

@media screen and (min-width: 769px) {
  .main-container {
    --gap-amount: 9.4rem;
  }

  .custom-textarea {
    height: 225px;
    font-size: 1.8rem;
  }

  small {
    margin-bottom: 5.2rem;
  }
}
