.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;

  text-align: center;

  max-width: 300px;
}
.text-container h1 {
  font-size: 3rem;
  margin-bottom: 2.2rem;
}

.text-container p {
  font-size: 1.8rem;

  margin-bottom: 2rem;
}

.buttons-container {
  justify-content: center;
  gap: 1.8rem;
}
