@import url("mobile.css");

@media screen and (min-width: 420px) {
  .text-container {
    max-width: 340px;
  }
}

@media screen and (min-width: 769px) {
  .text-container {
    justify-content: center;

    width: fit-content;
    max-width: 450px;

    margin-right: auto;

    padding-right: 1rem;
  }

  .text-container h1 {
    font-size: 3.9rem;
    margin-bottom: 1.4rem;
  }

  .text-container p {
    margin-bottom: 6.5rem;
    font-size: 2.8rem;
  }

  .main-container {
    --gap-amount: 8rem;
  }

  .buttons-container {
    justify-content: space-between;
  }
}
