@import url("mobile.css");

@media screen and (min-width: 769px) {
  .button--big ~ .button--big {
    margin-top: 1.4rem;
  }
  label {
    font-size: 2.6rem;
  }

  input {
    margin-bottom: 2.7rem;
    height: 50px;
  }

  input[type="number"] {
    margin-bottom: 4.4rem;
  }
}
