@import url("mobile.css");

@media screen and (min-width: 769px) {
  .text-container {
    justify-content: center;
    align-items: center;
    width: fit-content;

    margin-right: auto;
  }

  .text-container h1 {
    font-size: clamp(5.3rem, 11rem, 20vw);

    margin-bottom: 4.4rem;
  }

  .text-container p {
    margin-bottom: 6.6rem;
  }

  #zero-step-img {
    max-width: 360px;
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 769px) {
  #zero-step-img {
    margin-left: -80px;
  }
}
