.main-container {
  --gap-amount: 2.8rem;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: var(--gap-amount);

  max-width: 95vw;

  margin: auto;

  overflow-x: hidden;
}

.content-container {
  --max-width: 300px;
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  width: 100%;
  padding: 0 1rem;
}

.content-container__title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1.8rem;

  max-width: 300px;
  width: 100%;
}

.select-container {
  max-width: 300px;
  width: 100%;
}
