.custom-select {
  position: relative;
  margin-bottom: 1rem;

  appearance: none;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;

  max-width: 280px;
  width: 100%;

  padding: 0.8rem 0;
  padding-left: 2.8rem;

  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);

  cursor: pointer;

  text-overflow: ellipsis;

  transition: border-color 0.2s ease-in-out;
}

.custom-select:hover {
  border-color: #475242;
}

.custom-arrow {
  display: block;
  position: absolute;
  left: 1.2rem;
  top: 1.4rem;
  transition: transform 0.2s ease-in-out;

  cursor: pointer;
}

.custom-arrow path {
  transition: fill-opacity 0.2s ease-in-out;
}

.custom-select:hover + .custom-arrow path,
.custom-arrow:hover,
.custom-arrow path:hover {
  fill-opacity: 1;
}

.custom-select:focus + .custom-arrow {
  transform: rotate(180deg);
}

.custom-select > option {
  font-family: "Roboto", sans-serif;
}
