@media screen and (min-width: 420px) {
  .standard-image {
    max-width: 400px;
  }

  .content-container {
    max-width: 340px;
  }

  .buttons-container {
    max-width: 340px;
  }
}

@media screen and (min-width: 769px) {
  .main-container {
    --gap-amount: 8rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: flex-end;

    gap: var(--gap-amount);

    max-width: 1200px;
  }

  .content-container {
    max-width: 520px;
    align-items: flex-start;
    width: 100%;
    margin-right: auto;
    padding-right: 1rem;
  }

  .content-container__title {
    font-size: 2.6rem;
  }

  form ~ form .content-container__title {
    margin-top: 4.2rem;
    margin-bottom: 1.8rem;
  }

  .select-container {
    max-width: 460px;
  }

  .custom-select {
    margin-bottom: 0;
  }

  .standard-list {
    margin-bottom: 3.2rem;
  }

  .standard-list li {
    font-size: 2.6rem;
  }

  .standard-image {
    max-width: 520px;
    padding-left: 2rem;
  }

  .buttons-container {
    max-width: 418px;
  }

  .button--small {
    max-width: 200px;
  }

  .button--small,
  .button--big {
    font-size: 2.2rem;
  }

  .button--big {
    max-width: 418px;
    margin-top: 1.5rem;
  }

  .custom-select {
    max-width: 460px;
    width: 100%;
    font-size: 2.4rem;

    padding-left: 3rem;
  }

  .custom-arrow {
    top: 2rem;

    width: 1.2rem;
    height: auto;
  }

  li > label {
    padding-left: 3.6rem;
  }

  input[type="radio"]:before {
    top: 0.4rem;

    width: 2.5rem;
    height: 2.5rem;
  }

  input[type="checkbox"]:before {
    width: 2.6rem;
    height: 2.6rem;

    top: 0.4rem;
  }
}
