@import url("custom-select.css");
@import url("containers.css");
@import url("button.css");
@import url("custom-inputs.css");

.standard-image {
  width: 100%;
  max-width: 400px;
  min-width: 300px;
}

.standard-list {
  list-style: none;
  margin-bottom: 2.4rem;
}

.standard-list li {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.standard-list li:not(:last-child) {
  margin-bottom: 0.8rem;
}

.standard-list li > * {
  cursor: pointer;
}
